<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Fontawesome CSS -->
    <script src="https://kit.fontawesome.com/4738fcddfc.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css" />

    <title>Amazona</title>
  </head>
  <body>
    <div class="grid-container">
      <!------------ Header Section Start ------------>
      <header class="row">
        <div>
          <a class="brand" href="index.html">Amazona</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <!------------ Header Section End ------------>

      <!------------ Main Section Start ------------>
      <main>
        <div class="row center">
          <!-- Start of First Card -->
          <div class="card">
            <a href="product.html">
              <!-- image size should be 680px by 830px -->
              <img class="medium" src="images/product-1.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirts</h2>
              </a>

              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>

              <div class="price">1200₹</div>
            </div>
          </div>
          <!-- End of First Card -->
          <!-- Start of First Card -->
          <div class="card">
            <a href="product.html">
              <!-- image size should be 680px by 830px -->
              <img class="medium" src="images/product-2.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirts</h2>
              </a>

              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>

              <div class="price">1200₹</div>
            </div>
          </div>
          <!-- End of First Card -->
          <!-- Start of First Card -->
          <div class="card">
            <a href="product.html">
              <!-- image size should be 680px by 830px -->
              <img class="medium" src="images/product-3.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirts</h2>
              </a>

              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>

              <div class="price">1200₹</div>
            </div>
          </div>
          <!-- End of First Card -->
          <!-- Start of First Card -->
          <div class="card">
            <a href="product.html">
              <!-- image size should be 680px by 830px -->
              <img class="medium" src="images/product-4.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirts</h2>
              </a>

              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>

              <div class="price">1200₹</div>
            </div>
          </div>
          <!-- End of First Card -->
          <!-- Start of First Card -->
          <div class="card">
            <a href="product.html">
              <!-- image size should be 680px by 830px -->
              <img class="medium" src="images/product-5.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirts</h2>
              </a>

              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>

              <div class="price">1200₹</div>
            </div>
          </div>
          <!-- End of First Card -->
          <!-- Start of First Card -->
          <div class="card">
            <a href="product.html">
              <!-- image size should be 680px by 830px -->
              <img class="medium" src="images/product-6.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirts</h2>
              </a>

              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star-half"></i>
                </span>
              </div>

              <div class="price">1200₹</div>
            </div>
          </div>
          <!-- End of First Card -->
        </div>
      </main>
      <!------------ Main Section End ------------>

      <!------------ Footer Section Start ------------>
      <footer class="row center">All Rights Reserved</footer>
      <!------------ Footer Section End ------------>
    </div>
  </body>
</html>
