* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************** Progress Bar Styling Start **************/
@media (max-width: 500px) {
  .header {
    box-shadow: none !important;
  }
}

/************** Progress Bar Styling Start **************/
::-webkit-scrollbar {
  display: none;
}
#progress {
  background: #f0005a;

  width: 0;

  height: 2px;

  border-radius: 0 10px 10px 0;

  position: fixed;

  top: 66px;

  left: 0;

  z-index: 10;
}

@media screen and (max-width: 500px) {
  #progress {
    top: 50px;
  }
}

/************** Back-to-Top Button Styling Start **************/
#button {
  display: inline-block;
  background-color: #1cbac8;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  left: 10px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 1px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 500px) {
  #button {
    /* margin: 30px; */
  }
}
/************** Back-to-Top Button Styling End **************/

.navbar-brand {
  width: 120px;

  height: 40px;
}

#count-up i {
  color: #615b8e !important;
}

.plus {
  font-size: 1.5rem;
}

.kW {
  font-size: 1.5rem;
}

#services h2 {
  background: #fff !important;
}

/* Contact Page */
#contact {
  background: url(../img/american-public-power-association-XGAZzyLzn18-unsplash.jpg);

  background-attachment: fixed;

  background-position: bottom center;
}

#contact,
#contact input,
#contact textarea {
  font-family: "Poppins", sans-serif;
}

#contact.contact-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

#contact .form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#contact .contact-form {
  background-color: #615b8e;
  position: relative;
}

#contact .circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #c9f5ff);
  position: absolute;
}

#contact .circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

#contact .circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

#contact .contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #c9f5ff;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

#contact form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

#contact .title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

#contact .input-contact-container {
  position: relative;
  margin: 1rem 0;
}

#contact .input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

#contact textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

#contact .input-contact-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

#contact .input-contact-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

#contact .btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #615b8e;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

#contact .btn:hover {
  background-color: transparent;
  color: #fff;
}

#contact .input-contact-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

#contact .input-contact-container span:before,
#contact .input-contact-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #615b8e;
  top: 50%;
  transform: translateY(-50%);
}

#contact .input-contact-container span:before {
  left: 50%;
}

#contact .input-contact-container span:after {
  right: 50%;
}

#contact .input-contact-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

#contact .input-contact-container.focus span:before,
#contact .input-contact-container.focus span:after {
  width: 50%;
  opacity: 1;
}

#contact .contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

#contact .contact-info .title {
  color: #615b8e;
}

#contact .text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

#contact .information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

#contact .information a {
  color: #333;

  transition: color 0.3s;
}
#contact .information a:hover {
  color: #615b8e;
}

#contact .icon {
  width: 28px;
  margin-right: 0.7rem;
}

#contact .social-media {
  padding: 2rem 0 0 0;
}

#contact .social-media p {
  color: #333;
}

#contact .social-icons {
  display: flex;
  margin-top: 0.5rem;
}

#contact .social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #615b8e, #615b8e);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

#contact .social-icons a:hover {
  transform: scale(1.05);
}

#contact .contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #615b8e;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

#contact .big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: transparent;
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

#contact .big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: transparent;
  border: 10px solid #615b8e;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

#contact .square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  #contact .form {
    grid-template-columns: 1fr;
  }

  #contact .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  #contact .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  #contact .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  #contact .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  #contact .text {
    margin: 1rem 0 1.5rem 0;
  }

  #contact .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  #contact {
    margin-top: 0 !important;
  }
  #contact .contact-container {
    padding: 1.5rem;
  }

  #contact .contact-info:before {
    display: none;
  }

  #contact .square,
  #contact .big-circle {
    display: none;
  }

  #contact form,
  #contact .contact-info {
    padding: 1.7rem 1.6rem;
  }

  #contact .text,
  #contact .information,
  #contact .social-media p {
    font-size: 0.8rem;
  }

  #contact .title {
    font-size: 1.15rem;
  }

  #contact .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  #contact .icon {
    width: 23px;
  }

  #contact .input {
    padding: 0.45rem 1.2rem;
  }

  #contact .btn {
    padding: 0.45rem 1.2rem;
  }
}

/* Validation */

.input-contact-container.success input {
  border-color: #2ecc71;
}

.input-contact-container.error input,
.input-contact-container.error textarea {
  border-color: #e74c3c !important;
}

.input-contact-container.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.input-contact-container.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.input-contact-container i {
  visibility: hidden;
  position: absolute;
  top: 15px;
  right: 10px;
}

.input-contact-container.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.input-contact-container.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.input-contact-container small {
  color: #e74c3c;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  visibility: hidden;
}

.input-contact-container.error small {
  visibility: visible;
}

@media screen and (max-width: 500px) {
  .input-contact-container small {
    color: #e74c3c;
    position: absolute;
    width: 100%;
    bottom: -16px;
    right: 0 !important;
    /* left: 50%; */
    /* transform: translate(-50%); */
    visibility: hidden;
  }
  .contact-form .textarea small {
    color: #e74c3c;
    position: absolute;
    width: 100%;
    bottom: -14px !important;
    right: 0 !important;
    /* left: 50%; */
    /* transform: translate(-50%); */
    visibility: hidden;
  }
  .input-contact-container i {
    visibility: hidden;
    position: absolute;
    top: 12px;
    right: 10px;
  }
}

/************** Gallery Page Styling Start **************/
.gallery {
  position: relative;

  height: 100vh;

  overflow: hidden;
}
.gallery img {
  max-width: 100%;
}

.gallery .thumbnail-slider-area {
  position: absolute;

  left: 0;

  bottom: 0;

  width: 100%;

  z-index: 1;
}

.gallery .thumbnail-slider .col img {
  border: 3px solid #615b8e;
}

@media screen and (max-width: 800px) {
  .gallery {
    height: 50vh;
  }
}
/************** Gallery Page Styling End **************/
