/************** Back-to-Top Button Styling Start **************/
#button {
  display: inline-block;
  background-color: #1cbac8;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  left: 10px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 1px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 500px) {
  #button {
    /* margin: 30px; */
  }
}
/************** Back-to-Top Button Styling End **************/

.navbar-brand {
  width: 120px;

  height: 40px;
}

.plus{
  font-size: 1.8rem;
}

.kW{
  font-size: 1.5rem;
}